<div class="container px-md-0">
  <div class="col-md-5 border border-dark rounded mx-auto px-md-4">
    <h4 class="my-md-3">会員からの問い合わせを確認する</h4>
    <div class="col-md-7 my-md-3 mx-auto">
      <%= link_to "会員問い合わせへ", shop_path, class:"btn btn-primary btn-block" %>
    </div>
    <h4 class="mt-md-5">管理者に問い合わせる</h4>
    <p class="my-md-3">電話番号：00000000000</p>
    <p>問い合わせフォームから問い合わせる</p>
    <div class="col-md-7 mb-md-3 mx-auto">
      <%= link_to "問い合わせフォームへ", new_shop_shop_inquiry_path, class:"btn btn-primary btn-block" %>
    </div>
    <div class="col-md-7 mb-md-3 mx-auto">
      <%= link_to "問い合わせを確認する", shop_shop_inquiry_confirmation_path, class:"btn btn-primary btn-block" %>
    </div>
  </div>
</div>