<div class="container px-md-0">
  <div class="col-md-12 mb-md-5 py-md-5 ">
    <h3>DWCで学んだ能力を生かし、まだ学んでいない機能にも挑戦したい！</h3>
    <p>そう思い、いろいろな機能を盛り込めそうなECサイトを作成してみたいと思いました。</p>

    <p>ECサイトの「ショップのブランディングが難しく顧客情報が取れない 」</p>
    <p>というデメリットを軽減させ、たくさんの人が利用できるECサイトを作ることが出来ればよいと考えました。</p>

    <p>そこで、ECサイトに実店舗が参入する形式とすることで、</p>
    <p>ショップ毎の特色(強いジャンル・どんなショップなのか)を打ち出し</p>
    <p>ショップ主体で集客することができる仕様とすることで、</p>
    <p>その情報をもとにマーケティングをおこなうことができることから、</p>
    <p>ECサイトのデメリットを軽減させることができ、</p>
    <p>他のECモールとの差別化も図れるため結果としてショップの登録数も増え、</p>
    <p>ECモール側・ショップ側双方に利益をもたらすことができると考えます。</p>

    <p>会員側はショップ・商品それぞれの特色・レビューを確認してから商品を購入することが可能なため、</p>
    <p>安心して買い物を楽しめる。</p>
    <p>そんなサイトを作成しました。</p>

  </div>
</div>