<div class="container px-5 px-sm-0">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <% @item_genres.each do |item_genre| %>
        <tr>
          <td style="border: none;">
            <%= link_to item_genre.name, items_path(item_genre_id: item_genre.id) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>