<div class="container px-md-0">
  <div class="col-md-12 mb-md-5 py-md-5 text-center">
    <h1>ご注文ありがとうございました！</h1>
  </div>
  <div class="col-md-3 mx-auto">
    <%= link_to "買い物を続ける", root_path, class:"btn btn-primary btn-block" %>
  </div>
</div>