<div class="container">
  <div class="row">
    <div class="col-md-4 mb-2 d-flex align-items-center justify-content-center">
      <h3 class="px-2" style="background-color: #c1c7cd !important;">お気に入りショップ一覧</h3>
    </div>
  </div>
  <div class="row">
    <% @favorite_shops.each do |favorite_shop| %>
    <div class="col-md-12 mb-2">
      <h3>
        <%= "#{l favorite_shop.created_at}に追加されました" %>
      </h3>
    </div>
    <div class="col-md-12 mb-5">
      <h4>
        <%= favorite_shop.shop.shop_name %>
      </h4>
    </div>
    <div class="col-md-12 mb-5">
      <h4>
        <% if favorite_shop.is_deleted == false %>
          <p class="text-secondary">無効</p>
        <% else %>
          <p class="text-success">有効</p>
        <% end %>
      </h4>
    </div>
    <% end %>
  </div>
</div>
