<div class="container">
  <div class="row">
    <div class="col-md-4 mb-2 d-flex align-items-center justify-content-center">
      <h3 class="px-2" style="background-color: #c1c7cd !important;">注文履歴一覧</h3>
    </div>
    購入日時をクリックで詳細画面へ移行します
  </div>

  <table class="table" style="border-bottom: solid 2px;">
    <thead>
      <tr>
        <th style="background-color: #c1c7cd !important;">購入日時</th>
        <th style="background-color: #c1c7cd !important;">購入者</th>
        <th style="background-color: #c1c7cd !important;">発送状態</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td style="border: none;">
          <%= link_to admin_order_path(order.id) do %>
            <%= order.created_at.strftime('%Y/%m/%d') %>
          <% end %>
        </td>
        <td style="border: none;">
          <%= order.customer.last_name+order.customer.first_name %>
        </td>
        <td style="border: none;">
          <% if order.order_details.count == order.order_details.where(shipping_status: "sent").count %>
            発送済み
          <% else %>
            未発送商品あり
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-md-7 mt-4 offset-md-5">
    <%= paginate @orders %>
  </div>
</div>