<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h4 class="border border-danger rounded text-center mb-md-3">
      入力内容に誤りがあります。</br>
      入力内容を確認してください。
    </h4>
  </div>
<% end %>
