<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>ジャンル選択</h2>
    </div>
    <div class="col-md-6 mb-md-3 mt-md-4 mx-auto">
      <%= link_to '商品ジャンル一覧へ',  admin_item_genres_path, class:"btn btn-primary btn-block" %>
    </div>
    <div class="col-md-6 mb-md-3 mx-auto">
      <%= link_to 'ショップジャンル一覧へ',  admin_shop_genres_path, class:"btn btn-primary btn-block" %>
    </div>
  </div>
</div>