<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <div class="error_message mb-md-3">
      <h4>
        入力内容に誤りがあります。</br>
        以下の内容を確認してください。
      </h4>
      <% resource.errors.full_messages.each do |message| %>
        <% if message[0] == "「" %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
